html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}



/*perfil.html*/
.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.img-perfil {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20%;
}

.img-container {
    max-width: 360px;
    max-height: 360px;
    margin: 10px 10px 0px 0px;
    float: left;
    border-top-left-radius: 20%;
    box-shadow: 5px 5px gray;
}

#caja {
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    float: left;
    width: 800px;
    max-height: 336px;
    border: 2px solid #5456f1;
    box-shadow: 5px 5px gray;
}

h1 {
    color: #000000;
    font-size: 40pt;
    line-height: 0%;
}

p {
    font-family: Georgia;
    line-height: 20px;
}


a:link {
    color: orange;

}

a:visited {
    color: red;
}


/* index.html */

header {
    background-color: #83afe7;
    padding: 0px 20px;
}

footer {
    background-color: #83afe7;
    padding: 10px 20px;
    margin-bottom: 0px;
    text-align: center;
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

header ul li {
    color: white;
    margin: 0px 20px;
}

header ul li:first-child {
    font-size: 1.5em;
    font-weight: bold;
}

header ul li:last-child {
    display: flex;
    margin-right: 0;
}

header button {
    background-color: #E0E0E0;
    color: #333;
    border: none;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

header button:hover {
    background-color: #D0D0D0;
}

.cuadro-informativo:hover {
    background-color: #99c5dd;
    cursor: pointer;
    rotate: 5deg;
}

.copy_right {
    margin: 0;
    color: black;
    font-size: 18px;
    text-align: center;
}

.img-index {
    width: 150px;
    height: 150px;
}


#contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    padding: 10px;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.cuadro-informativo {
    background-color: #F0F0F0;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: auto;
    text-align: center;
}

.cuadro-informativo p {
    margin: 10px 0px 0px 0px;
}

.contenido-cuadro {
    color: #1266e4;
}

span {
    display: inline-block;
    width: 2px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

/* css para media queries perfil.html*/
@media (max-width: 480px) {
    .img-container {
        width: 124px;
        height: 124px;
    }

    #caja {
        background-color: #83afe7;
        padding: 10px;
        margin-left: 5px;
        margin-top: 10px;
        float: left;
        width: 260px;
        height: 100px;
        border: 2px solid #ff7514;
        box-shadow: 5px 5px gray;
    }

    h1 {
        font-size: 12pt;
        line-height: 0%;
    }

    p {
        font-family: Georgia;
        line-height: 6px;
        font-size: 5px;
    }

}

@media (min-width:481px) and (max-width: 768px) {

    .img-container {
        width: 192px;
        height: 192px;
    }

    #caja {
        background-color: aqua;
        padding: 10px;
        margin-left: 5px;
        margin-top: 10px;
        float: left;
        width: 495px;
        height: 168px;
        border: 2px solid #ff7514;
        box-shadow: 5px 5px gray;
    }

    h1 {
        font-size: 20pt;
        line-height: 0%;
    }

    p {
        font-family: Georgia;
        line-height: 10px;
        font-size: 8px;
    }

}

/* css para media queries index.html usando grid*/
@media (max-width: 480px) {
    #contenedor-principal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .cuadro-informativo {
        margin: 10px;
        width: 60px;
        height: 60px;
        padding: 10px 10px 70px 10px;
    }

    .img-index {
        width: 100%;
        height: 100%;
        margin: 0px 0px;
    }

    .contenido-cuadro {
        font-size: 10px;
        margin: 0px;
    }

    .copy_right {
        margin: 0;
        color: black;
        font-size: 10px;
        text-align: center;
    }

    header ul li {
        margin: 0px 5px;
        font-size: 10px;
    }

    header ul li:first-child {
        font-size: 10px;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    #contenedor-principal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .cuadro-informativo {
        margin: 10px;
        width: 150px;
        height: 150px;
        padding: 10px 10px 40px 10px;
    }

    .img-index {
        width: 100%;
        height: 100%;
        margin: 0px 0px;
    }

    .contenido-cuadro {
        font-size: 10px;
        margin: 0px;
    }

    .copy_right {
        margin: 0;
        color: black;
        font-size: 10px;
        text-align: center;
    }

    header ul li {
        margin: 0px 5px;
        font-size: 10px;
    }

    header ul li:first-child {
        font-size: 10px;
    }
}

@media (min-width: 724px) and (max-width: 768px) {
    #contenedor-principal {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }


}

@media (min-width: 769px) and (max-width: 1024px) {
    #contenedor-principal {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .cuadro-informativo {
        margin: 10px;
        width: 150px;
        padding: 10px 10px;
    }

    .img-index {
        width: 120px;
        height: 120px;
        margin: 0px 0px;
    }

    .contenido-cuadro {
        font-size: 13px;
        margin: 0px;
    }

}